<%- include("header") -%>

    <h1 class="page-title">Bay State Politiquiz</h1>

  <div class="home-button-container">
    <button type="button" class="home-button btn btn-lg btn-outline-primary">Play!</button>
    <button type="button" class="home-button btn btn-lg btn-outline-primary">Learn!</button>
  </div>








<%- include("footer") -%>
